[submodule "submodules/iThoughts-WordPress-Plugin-Toolbox"]
	path = submodules/iThoughts-WordPress-Plugin-Toolbox
	url = git@github.com:iThoughts-Informatique/iThoughts-WordPress-Plugin-Toolbox.git
[submodule "submodules/ace-builds"]
	path = submodules/ace-builds
	url = git@github.com:ajaxorg/ace-builds.git
